<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    <h1> ERROR {{ errcode }}</h1>
    <p>{{ page.description }}</p>
</body>
</html>